@model SelectListItem
@{
    ViewBag.Title = "TTGioHangUser";
    Layout = "~/Views/Shared/_LayoutPageDonHang.cshtml";
}

<div id="container-fluid mt-2">
    <h2 class="mb-3 text-center">Thông Tin Giỏ Hàng</h2>
    <div style="margin:0 5% 0 5%;">
        <table style="width: 100%" class="mt-2">    
            <tr>
                <td colspan="2">
                    <input id="txtDiaChi" class="form-control mb-2" name="#" placeholder="Địa chỉ" title="nhap sdt" required />
                </td>
            </tr>


        </table>

        <table>
            <tr>
                <td>
                    @Html.DropDownList("TinhThanh", (IEnumerable<SelectListItem>) ViewBag.LstTinhThanh, "Tỉnh/Thành", new { @class = "form-control" })
                </td>

                <td>
                    @*xét theo tỉnh thành dùng ajax để load data*@
                    @Html.DropDownList("QuanHuyen", (IEnumerable<SelectListItem>) ViewBag.LstQH, "Quận/Huyện", new { @class = "form-control" })
                </td>

                <td>
                    @Html.DropDownList("XaPhuong", (IEnumerable<SelectListItem>) ViewBag.LstQH, "Xã/Phường", new { @class = "form-control" })
                </td>
            </tr>

        </table>
        <script>
            $(document).ready(function () {
                $("#TinhThanh").change(() => {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetQH")',
                        dataType: 'json',
                        data: { thID: $("#TinhThanh").val() },
                        success: function (th) {
                            const data = JSON.parse(th);
                            $("#QuanHuyen").empty();
                            $("#XaPhuong").empty();
                            $("#QuanHuyen").append('<option value>Quận/Huyện</option>')
                            $("#XaPhuong").append('<option value>Xã/Phường</option>')
                            for(let qh of data) {
                                $("#QuanHuyen").append(`<option value="${qh.ID}">${qh.TEN}</option>`);
                            };
                        },
                        error: function (ex) {
                            console.log(ex);
                            $("#QuanHuyen").empty();
                            $("#XaPhuong").empty();
                            $("#QuanHuyen").append('<option value>Quận/Huyện</option>')
                            $("#XaPhuong").append('<option value>Xã/Phường</option>')
                        }
                    });
                })

                $("#QuanHuyen").change(() => {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetXP")',
                        dataType: 'json',
                        data: { qhID: $("#QuanHuyen").val() },
                        success: function (th) {
                            const data = JSON.parse(th);
                            $("#XaPhuong").empty();
                            $("#XaPhuong").append('<option value>Xã/Phường</option>')
                            for(let xp of data) {
                                $("#XaPhuong").append(`<option value="${xp.ID}">${xp.TEN}</option>`);
                            };
                        },
                        error: function (ex) {
                            console.log(ex);
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                })
            });
        </script>

        <br />
        <div>
            <h5>Phương thức vận chuyển</h5>
        </div>
        <table style="border: solid 1px;  border-color:lightgrey" ; width="100%">
            <br />
            <tr>
                <td>
                    @foreach (var ppvc in (IEnumerable<SelectListItem>)ViewBag.LstPPVC)
                    {
                        <div class="form-check mt-2 ms-2">
                            @Html.RadioButton("PPVC", ppvc.Value, new { @id = "Radio"+ppvc.Value, @class = "form-check-input" })
                            @Html.Label(ppvc.Text, new { @for = "Radio"+ppvc.Value, @class = "form-check-label"}) 
                        </div>
                    }
                    
                </td>
            </tr>
        </table>

        <br />
        
    </div>
    <div class="text-center">
            <a href="#" class="btn" id="btnXacNhan" style="font-size: 24px;background-color:cornflowerblue;color:white" title="Xác nhận">Xác nhận</a>
    </div>

</div>

<script>
    $("#Radio1").attr('checked', 'checked');
    $('#btnXacNhan').click((e) => {
        const diaChi_ = $('#txtDiaChi').val();

        $('#txtDiaChi').css({
            'border': ''
        })

        if (diaChi_.trim().length==0)
        {
            Toast.fire({
                icon: 'warning', 
                title: 'Vui lòng nhập đầy đủ thông tin!' 
            });
            
            if (diaChi_.trim().length==0)
                $('#txtDiaChi').css({
                    'border': '1px solid red'
                })
            return;
        }
        
    // kiểm tra chọn tỉnh thành
        if ($('#TinhThanh').val() == '')
        {
            Toast.fire({
                icon: 'warning', 
                title: 'Vui lòng chọn tỉnh/thành' 
            });
            $('#txtHoTen, #txtEmail, #txtSDT, #txtDiaChi').css({
                'border': ''
            });
            return;
        }
        if ($('#QuanHuyen').val() == '')
        {
            Toast.fire({
                icon: 'warning', 
                title: 'Vui lòng chọn quận/huyện' 
            });
            $('#txtHoTen, #txtEmail, #txtSDT, #txtDiaChi').css({
                'border': ''
            });
            return;
        }
        if ($('#XaPhuong').val() == '')
        {
            Toast.fire({
                icon: 'warning', 
                title: 'Vui lòng chọn xã/phường' 
            });
            $('#txtHoTen, #txtEmail, #txtSDT, #txtDiaChi').css({
                'border': ''
            });
            return;
        }

    // thỏa all điểu kiện

        $.ajax({
            type: 'GET',
            url: '@Url.Action("XacNhanHD")',
            dataType: 'json',
            data: { pHoTen: '', pEmail: '', pSDT: '', pDC: diaChi_, pTP: $('#TinhThanh').val(), pQH: $('#QuanHuyen').val(), pXP: $('#XaPhuong').val(), pPPVC: $("input:checked").val() },
            success: function (th) {
                location.href='/GioHang/HoaDon';
                
            },
            error: function (ex) {
                console.log(ex);
                alert('Failed to retrieve states.' + ex);
            }
        });
    });
</script>

